@use "sass:math";
@use 'partials/variables';
@use 'partials/functions';
@use 'partials/mixins';

@import '../katex/katex.min.css';
@import '../jquery-easyui/themes/icon.css';
@import '../jquery-easyui/themes/default/easyui.css';
@import '../jquery-easyui-MathEditorExtend/themes/icon.css';
@import '../jquery-easyui-MathEditorExtend/themes/aguas/easyui.css';
//@import './jquery-easyui/themes/mobile.css';
@import '../keyboard/keyboard.css';
@import '../codemirror/lib/codemirror.css';
@import '../codemirror/theme/darcula.css';
@import '../codemirror/theme/twilight.css';
@import '../codemirror/theme/zenburn.css';


/* Section for common styles
 * -------------------------
 */
* {
	margin : 0; 
	padding: 0; 
}
 
body {
	/* essential: must be written at the correct moment */
	height: 100vh;
	
	// The Wait Msg
	#WaitMsg {
		@include mixins.waitMsgMixin(true);
	}
	 
	/* Hidden elements for file open / save ... */
	.invisible {
	  display: none;
	}

	/* Embedds the invisible screen keyboard */
	#divEquationInputOutput {
		overflow: hidden !important;

		.keyboardInputInitiator {
			display: none;
		}

		.keyboardInput {
			height: 0px;
			width: 0px;
			border: none;
			background-color: transparent;
			color: transparent;
			display: none;
		}	
	}

	/* Code Mirror occupies 100% of input area */
	#divMathTextInput {
		margin: 0; 
		padding: 0; 
		overflow: hidden;
		border: none;

		.CodeMirror {
			height: 100%;
			width: 100%;

			padding: 2px;
		}
	}

	/* Without this (mainly height) Output Area disappears */
	#mathVisualOutput {
		margin: 0; 
		padding: 5px; 
		font-size: 150%; 
		overflow: auto !important;
		border: none;
	}

	/* Status area for all panels */
	.southRegion {
		padding: 5px;

		.divInformation {					/* info line like latex code feedback */
			padding-top: 2px; 
			text-align: center; 
			overflow: auto;
		}
		
		:last-child {						/* the copyright line */
			padding-top: 2px; 
			text-align: center;
		}
	}
	
	/* where applied => all tables 
	 */
	table, th, td {
	  border: 1px solid;
	}
	
	/* in-line = Informations table */
	.inline-table {
		td {
			padding: 5px;
		}
	}
}

/* Section for desktop styles
 * --------------------------
 */
body.katex-desktop {
	height: 100vh;
	 
	/**
	 *	This seems to be essential for mobile and desktop versions, it's required
	 *	to make the layouts large enough.
	 */
	#myContainer {
		height: 100vh !important;
	}
	#innerLayout {
		height: 100% !important;
	}

	@include mixins.dialogs(false);

	h3 {
		text-align: center;
		padding: 10px;
	}
	
	#northRegion, .southRegion {
		height: fit-content !important;
	}
	
	.panel:has(> #westRegion) {
		width: variables.$widthWestAccordion !important;
		
		.easyui-accordion > div {
			overflow: hidden !important;
		}
	}
	
	.panel:has(> #eastRegion) {
		width: variables.$widthEastAccordion !important;
		
		.easyui-accordion > div {
			overflow: hidden !important;
		}
	}
	
	.menus {
		width: 200px;
		overflow: hidden !important;
	}	
	
	#menu {
		padding: 5px;
	}
	
	/* The Latex menu item */
	#mLaTeX_TEXT span {
		padding-top: 5px; 
		font-size: 120%;
	}
	
	/* Suppress scroll bars */
	.easyui-menubutton {
		overflow: hidden;
	}
	
	/* Tooltips in tables */
	.panel-body table tbody tr td a.easyui-tooltip {
		float: bottom;
	}
	
	/* All KATEX formulae: suppress own mouse events */
	.katex {
		pointer-events: none;
	}
	
	/* THERE IS NO ACTION ON THIS */
	.tooltip {
		background-color: 'lightyellow';
		border-color: 'red';
		width: 500;
		z-index: 500000;	
	}
}

/* Section for mobile styles
 * -------------------------
 */
body.katex-mobile {
	$fontSize: functions.fontSize(true);	
	$innerHeight: calc(100vh - variables.$heightPanelHeaderFooter);
	$innerWidth: calc(100vw);
	
	/* essential: must be written at the correct moment */
	height: 100vh;
	
	/* The east and the west region aka formula-1 and formula-2 */
	#westRegion, #eastRegion {		
		width: $innerWidth;
		font-size: $fontSize;

		.easyui-accordion {
			width: $innerWidth;
			height: fit-content;
			
			.accordion-body {
				font-size: $fontSize;
				height: fit-content;
			}
			.accordion-header, .accordion-header-selected {
				height: fit-content !important;
			}
			.panel-tool a:last-child {
				padding: variables.$basePadding;
				font-size: $fontSize !important;
			}
			.panel-title {
				height: fit-content !important;
				padding: variables.$basePadding;
				span {
					font-size: $fontSize !important;
				}
			} 
		}
	}
	
	/**
	 *	Main Nav Panel
	 */
	#myContainer {
		width: $innerWidth;
	}
	
	/* Mixin for all the dialogs */	
	@include mixins.dialogs(true);

	/* Properties for all menus */
	.menu-text, .menus {
		width: calc-size(fit-content, calc(max(size + 20px, 300px))) !important;
		padding-left: 30;
		span {
			font-size: $fontSize !important;
		}
	}
}
