<footer>
	<div class="southRegion m-toolbar">
		<div class="divInformation">&nbsp;</div>
		<div>
			<!-- text required for initial size -->
			<span locate="AUTHOR">aaa<br/>bbb</span>
		</div>
	</div>
</footer>
