
<!-- Dialogs and Windows
	 This content is common to all screen sizes. 
-->

<!-- The Editor Parameters dialog -->
<div id="wEDITOR_PARAMETERS" class="easyui-dialog" iconcls="icon-option" data-options="closed:true,modal:true,buttons:'#btEDITOR_PARAMETERS',resizable:true"
	title="<span locate='EDITOR_PARAMETERS' class='rtl-title-withicon'></span>">
	<form id="formEDITOR_PARAMETERS" action="#" method="post">
		<fieldset>
			<legend><span locate='PERSISTENCE'></span></legend>
			<div>
				<input type="checkbox" name="persistWindowPositions" id="persistWindowPositions" /> 
				<label for="persistWindowPositions"><span locate='PERSIST_WINDOW_POSITIONS'></span></label>
			</div>
			<div>
				<input type="checkbox" name="persistEquations" id="persistEquations" /> 
				<label for="persistEquations"><span locate="PERSIST_EQUATIONS"></span></label>
			</div>
		</fieldset>
		<hr />
		<fieldset>
			<legend>
				<span locate='UPDATE'></span>
			</legend>
			<div>
				<input type="checkbox" name="menuupdateType" id="menuupdateType" />
				<label for="menuupdateType"><span locate='MENU_UPDATE'></span></label>
			</div>
			<div>
				<input type="checkbox" name="autoupdateType" id="autoupdateType" />
				<label for="autoupdateType"><span locate='AUTO_UPDATE'></span></label>
			</div>
			<div>
				<input name="autoUpdateTime" id="autoUpdateTime" size="4" maxlength="4" /> 
				<label for="autoUpdateTime"><span locate='UPDATE_INTERVAL'></span></label>
			</div>
		</fieldset>
		<hr />
		<fieldset>
			<legend>
				<span locate="RESET"></span>
			</legend>
			<a href="#" id="btRESET_WINDOW_POSITIONS" class="easyui-linkbutton">
				<span locate="RESET_WINDOW_POSITIONS"></span>
			</a>
		</fieldset>				
	</form>
	<div id="btEDITOR_PARAMETERS">
		<a href="" id="btEDITOR_PARAMETERS_CLOSE" class="easyui-linkbutton" iconcls="icon-cancel">
			<span locate="CLOSE"></span>
		</a>
	</div>
</div>

<!-- The Language Choice dialog -->
<div class="easyui-dialog" iconcls="icon-language" data-options="closed:true,modal:true,buttons:'#btLANGUAGE_CHOISE',resizable:true"
	id="wLANGUAGE_CHOISE" title="<span locate='LANGUAGE_CHOISE' class='rtl-title-withicon'></span>" >
	<form id="formLANGUAGE_CHOISE" action="#" method="post">
	</form>
	<div id="btLANGUAGE_CHOISE">
		<a href="" id="btLANGUAGE_CHOISE_CLOSE" class="easyui-linkbutton" iconcls="icon-cancel">
			<span locate="CLOSE"></span>
		</a>
	</div>
</div>

<!-- The Style Choice dialog -->
<div class="easyui-dialog" iconcls="icon-style" data-options="closed:true,modal:true,buttons:'#btSTYLE_CHOISE',resizable:true"
	id="wSTYLE_CHOISE" title="<span locate='STYLE_CHOISE' class='rtl-title-withicon'></span>" >
	<form id="formSTYLE_CHOISE" action="#" method="post">
		<fieldset dir='ltr'>
			<input type="radio" name="style" id="aguas_style" value="aguas" /> 
			<label for="aguas_style">&laquo; Aguas &raquo;</label> <br />
			
			<input type="radio" name="style" id="gray_style" value="gray" /> 
			<label for="gray_style">&laquo; Gray &raquo;</label> <br />
			
			<input type="radio" name="style" id="black_style" value="black" /> 
			<label for="black_style">&laquo; Black &raquo;</label> <br />
			
			<input type="radio" name="style" id="bootstrap_style" value="bootstrap" /> 
			<label for="bootstrap_style">&laquo; Bootstrap &raquo;</label> <br />
			
			<input type="radio" name="style" id="metro_style" value="metro" /> 
			<label for="metro_style">&laquo; Metro &raquo;</label>
		</fieldset>
	</form>
	<div id="btSTYLE_CHOISE">
		<a href="" id="btSTYLE_CHOISE_CLOSE" class="easyui-linkbutton" iconcls="icon-cancel"><span
				locate="CLOSE"></span></a>
	</div>
</div>

<!-- The Matrix dialog -->
<div id="wMATRIX" class="easyui-dialog" iconcls="icon-matrix" data-options="cls:'mat',closed:true,modal:true,buttons:'#btMATRIX',resizable:true"
	title="<span locate='MATRIX' class='rtl-title-withicon'></span>" >
	<form id="formMATRIX" name="formMATRIX" action="#" method="post">
		<table id="tableMATRIX" dir="ltr">
			<tr>
				<td colspan="2">&nbsp;</td>
				<td>
					<input name="colsMATRIX" id="colsMATRIX" size="1" maxlength="2" value="3" />
				</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td><input name="rowsMATRIX" id="rowsMATRIX" size="1" maxlength="2" value="3" /></td>
				<td><select name="leftbracketMATRIX">
						<option value="(" selected="selected">(</option>
						<option value="[">[</option>
						<option value="{">{</option>
						<option value="(:">&lt;</option>
						<option value="|">|</option>
						<option value="||">||</option>
						<option value="{:">&nbsp;</option>
						<option value=")">)</option>
						<option value="]">]</option>
						<option value="}">}</option>
						<option value=":)">&gt;</option>
					</select></td>
				<td>
					<div id="showMATRIX"></div>
				</td>
				<td><select name="rightbracketMATRIX">
						<option value=")" selected="selected">)</option>
						<option value="]">]</option>
						<option value="}">}</option>
						<option value=":)">&gt;</option>
						<option value="|">|</option>
						<option value="||">||</option>
						<option value=":}">&nbsp;</option>
						<option value="(">(</option>
						<option value="[">[</option>
						<option value="{">{</option>
						<option value="(:">&lt;</option>
					</select>
				</td>
			</tr>
		</table>
	</form>
	<div id="btMATRIX">
		<a href="" id="btMATRIX_SET" class="easyui-linkbutton" iconcls="icon-ok">
			<span locate="SET_IN_EDITOR"></span>
		</a> 
		<a href="" id="btMATRIX_CLOSE" class="easyui-linkbutton" iconcls="icon-cancel">
			<span locate="CLOSE"></span>
		</a>
	</div>
</div>

<!-- The More dialogs -->
<div id="wf_COMMUTATIVE_DIAGRAM_MORE" class="easyui-dialog content-tailored" iconcls="icon-diagram" 
	data-options="closed:true,modal:false,shadow:false,resizable:true,collapsible:true"
	title="<span id='wf_COMMUTATIVE_DIAGRAM_MORE_TITLE' locate='COMMUTATIVE_DIAGRAM' class='rtl-title-withicon'></span>" >
</div>

<div id="wf_CHEMICAL_FORMULAE_MORE" class="easyui-dialog content-tailored" iconcls="icon-chemical" 
	data-options="closed:true,modal:false,shadow:false,resizable:true,collapsible:true"
	title="<span id='wf_CHEMICAL_FORMULAE_MORE_TITLE' locate='CHEMICAL_FORMULAE' class='rtl-title-withicon'></span>" >
</div>

<div id="wf_BRACKET_SYMBOLS_MORE" class="easyui-dialog content-tailored" 
	data-options="closed:true,modal:false,shadow:false,resizable:true,collapsible:true"
	title="<span id='wf_BRACKET_SYMBOLS_MORE_TITLE' class='rtl-title-withicon'>$(\ )$ &nbsp;&nbsp; $[\ \ ]$ &nbsp;&nbsp; $\|\ \|$</span>" >
</div>

<div id="wf_RELATION_SYMBOLS_MORE" class="easyui-dialog content-tailored" 
	data-options="closed:true,modal:false,shadow:false,resizable:true,collapsible:true"
	title="<span id='wf_RELATION_SYMBOLS_MORE_TITLE' class='rtl-title-withicon'>$\leq$ &nbsp;&nbsp; $\cong$ &nbsp;&nbsp; $\approx$</span>">
</div>

<div id="wf_ARROW_SYMBOLS_MORE" class="easyui-dialog content-tailored" 
	data-options="closed:true,modal:false,shadow:false,resizable:true,collapsible:true"
	title="<span id='wf_ARROW_SYMBOLS_MORE_TITLE' class='rtl-title-withicon'>$\Rightarrow$ &nbsp;&nbsp; $\circlearrowleft$ &nbsp;&nbsp; $\looparrowright$</span>" >
</div>

<div id="wf_FR_CHAR_MORE" class="easyui-dialog content-tailored" 
	data-options="closed:true,modal:false,shadow:false,resizable:true,collapsible:true"
	title="<span id='wf_FR_CHAR_MORE_TITLE' class='rtl-title-withicon'>$\mathfrak{A}$ &nbsp;&nbsp; $\mathfrak{B}$ &nbsp;&nbsp; $\mathfrak{C}$</span>" >
</div>

<div id="wf_BBB_CHAR_MORE" class="easyui-dialog content-tailored" 
	data-options="closed:true,modal:false,shadow:false,resizable:true,collapsible:true"
	title="<span id='wf_BBB_CHAR_MORE_TITLE' class='rtl-title-withicon'>$\mathbb{A}$ &nbsp;&nbsp; $\mathbb{B}$ &nbsp;&nbsp; $\mathbb{C}$</span>" >
</div>

<div id="wf_L_U_GREEK_CHAR_MORE" class="easyui-dialog content-tailored" 
	data-options="closed:true,modal:false,shadow:false,resizable:true,collapsible:true"
	title="<span id='wf_L_U_GREEK_CHAR_MORE_TITLE' class='rtl-title-withicon'>$\varepsilon$ &nbsp;&nbsp; $\pi$ &nbsp;&nbsp; $\Psi$</span>" >
</div>

<div id="wf_ALL_CHAR_MORE" class="easyui-dialog content-tailored" 
	data-options="closed:true,modal:false,shadow:false,resizable:true,collapsible:true"
	title="<span id='wf_ALL_CHAR_MORE_TITLE' class='rtl-title-withicon'>A B C</span>" >
</div>

<div id="wf_EQUATION_MORE" class="easyui-dialog content-tailored" iconcls="icon-equation" 
	data-options="closed:true,modal:false,shadow:false,resizable:true,collapsible:true"
	title="<span id='wf_EQUATION_MORE_TITLE' locate='EQUATION' class='rtl-title-withicon'></span>" >
</div>

<div id="wf_HORIZONTAL_SPACING_MORE" class="easyui-dialog content-tailored" iconcls="icon-hspace" 
	data-options="closed:true,modal:false,shadow:false,resizable:true,collapsible:true"
	title="&nbsp;" >
</div>

<div id="wf_VERTICAL_SPACING_MORE" class="easyui-dialog content-tailored" iconcls="icon-vspace" 
	data-options="closed:true,modal:false,shadow:false,resizable:true,collapsible:true"
	title="&nbsp;" >
</div>

<div id="wf_SPECIAL_CHARACTER_MORE" class="easyui-dialog content-tailored" iconcls="icon-special_char" 
	data-options="closed:true,modal:false,shadow:false,resizable:true,collapsible:true"
	title="&nbsp;">
</div>

<!-- The Custom Equations dialog -->
<div id="wf_CUSTOM_EQUATIONS_MORE" class="easyui-dialog" iconcls="icon-equation" 
	data-options="closed:true,modal:false,shadow:false,resizable:true,collapsible:true,buttons:'#btCUSTOM_EQUATIONS_BUTTONS'"
	title="<span id='wf_CUSTOM_EQUATIONS_MORE_TITLE' class='custom-equations rtl-title-withicon' locate='CUSTOM_EQUATIONS'></span>"
>
	<div id="CUSTOM_EQUATIONS_LAYOUT" class="easyui-layout">
		<div data-options="region:'west',split:true" style="width: 25%;">
			<ul id="categories" class="easyui-tree" data-options="dropAccept:'.datagrid-div'">
			</ul>
			
			<div id="treeMenu" class="easyui-menu" data-options="minWidth:160">
				<div id="mAppendFolder" class="custom-equations easyui-tooltip" data-options="iconCls:'icon-add'"
					title="<span locate='TTAPPENDFOLDER'>Append Folder</span>">
					<span class="custom-equations" locate="APPENDFOLDER">Append Folder</span>
				</div>
				<div id="mAppendCategory" class="custom-equations easyui-tooltip" data-options="iconCls:'icon-add'"
					title="<span locate='TTAPPENDCATEGORY'>Append Categroy</span>">
					<span class="custom-equations" locate="APPENDCATEGORY">Append Category</span>
				</div>
				<div id="mRemove" class="custom-equations easyui-tooltip" data-options="iconCls:'icon-remove'"
					title="<span locate='TTREMOVEFOLDER'>REMOVE</span>" >
					<span class="custom-equations" locate="REMOVE">Remove</span>
				</div>
			</div>
			<div id="treeMenuLeaf" class="easyui-menu" data-options="minWidth:160">
				<div id="mRemoveLeaf" class="custom-equations easyui-tooltip" data-options="iconCls:'icon-remove'"
					title="<span locate='TTREMOVECATEGORY'>REMOVE</span>" >
					<span class="custom-equations" locate="REMOVE">Remove</span>
				</div>
				<div data-options="separator:true"></div>
				<div id="mCutPaste" class="custom-equations easyui-tooltip" data-options="iconCls:'icon-cut'"
					title="<span locate='TTCUTPASTE'>Cut &amp; Paste Equations</span>" >
					<span class="custom-equations" locate="CUTPASTE">Cut &amp; Paste Equations</span>
				</div>
			</div>
		</div>
		<div data-options="region:'center'" >
			<table id="customDatagrid" class="easyui-datagrid">
			    <thead>
			        <tr>
			        <!-- Without these entries data grid wouldn't work -->
			            <th class="custom-equations" data-options="field:'id',hidden:true">Id</th>
			            <th class="custom-equations" data-options="field:'title',editor:'text',width:'35%',sortable:true">Titel</th>
			            <th class="custom-equations" data-options="field:'formula',width:'60%'">Formel</th>
			        </tr>
			    </thead>
			    <tbody>
				</tbody>
			</table>
		</div>
	</div>
	<div id="btCUSTOM_EQUATIONS_BUTTONS" >
		{{> toggle id='toggle_btn_1' ttkey='TTREGION' text='' width='20' }}
		<a href="" id="btCUSTOM_EQUATIONS_ADD" class="easyui-linkbutton easyui-tooltip custom-equations" iconcls="icon-add"
			title="<span locate='TTADD'>ADD</span>" >
			<span class="custom-equations" locate="ADD">ADD</span>
		</a>
		<a href="" id="btCUSTOM_EQUATIONS_REMOVE" class="easyui-linkbutton easyui-tooltip custom-equations" iconcls="icon-remove"
			title="<span locate='TTREMOVE'>REMOVE</span>" >
			<span class="custom-equations" locate="REMOVE">REMOVE</span>
		</a>
		<a href="" id="btCUSTOM_EQUATIONS_LOAD" class="easyui-linkbutton easyui-tooltip custom-equations" iconcls="icon-open"
			title="<span locate='TTLOAD'>LOAD</span>" >
			<span class="custom-equations" locate="LOAD">LOAD</span>
		</a>
		<a href="" id="btCUSTOM_EQUATIONS_SAVE" class="easyui-linkbutton easyui-tooltip custom-equations" iconcls="icon-save"
			title="<span locate='TTSAVE'>SAVE</span>" >
			<span class="custom-equations" locate="SAVE">SAVE</span>
		</a>
	</div>
	<input type="file" id="fOPEN_CUSTOM_EQUATIONS" class="invisible" />
	<a id="fSAVE_CUSTOM_EQUATIONS" href="" ></a>
</div>

<!-- The Windows -->
<!-- The Unicodes List -->		
<div id="wUNICODES_LIST" class="easyui-window" iconcls="icon-codes"
	data-options="resizable:true,closed:true,modal:false,collapsible:false,minimizable:false,maximizable:false,closable:true"
	title="<span locate='UNICODES_LIST' class='rtl-title-withicon'></span>" >
	<div id="cUNICODES_GROUP">
		<form action="#" method="post">
			<input class="easyui-combobox" id="unicodeChoise" name="unicodeChoise" value="-" >
		</form>
	</div>
	{{> toggle id='toggle_btn_2' ttkey='TTCONTAINER' text='' width='20' }} <br/>
	<div id="cUNICODES_LIST" ></div>
	<div id="cUNICODES_VALUES" ></div>
</div>

<!-- The Language Resources -->
<div id="wLANGUAGE_LIST" class="easyui-window" iconcls="icon-langressource" 
	data-options="cls:'language-list',resizable:true,closed:true,modal:false,collapsible:false,minimizable:false,maximizable:false,closable:true"
	title="<span locate='LANGUAGE_LIST' class='rtl-title-withicon'></span>" >
	<div id="tLANGUAGE_LIST" class="easyui-tabs" border="false" fit="true" plain="false"></div>
</div>

<!-- The Informations window -->
<div id="wINFORMATIONS" class="easyui-window" iconcls="icon-info" 
	data-options="cls:'informations',resizable:true,closed:true,modal:false,collapsible:false,minimizable:false,maximizable:false,closable:true"
	title="<span locate='INFORMATIONS' class='rtl-title-withicon'></span>" >
	<div id="tINFORMATIONS" class="easyui-tabs" border="false" fit="true" plain="false">
		<div title="<span locate='COPYRIGHT'></span>" id="tCOPYRIGHT" iconcls="icon-copyright" closable="false"
			cache="true" href=""></div>
		<div title="<span locate='VERSION'></span>" id="tVERSION" iconcls="icon-history" closable="false"
			cache="true" href=""></div>
		<div title="<span locate='BUGS'></span>" id="tBUGS" iconcls="icon-bugs" closable="false"
			cache="true" href=""></div>
		<div title="<span locate='EQUATION_SAMPLE'></span>" id="tEQUATION" iconcls="icon-equation" closable="false"
			cache="true" href=""></div>
	</div>
</div>
