@use 'sass:list';
@use 'variables';

/* Functions */
@function passThrough($value) {
	@debug "Pass Through : #{$value}";
	@return $value;
}

@function idOf($wnd: &) {
	$id: list.nth(list.nth($wnd, 1), -1);
	@return passThrough($id);
}

@function scale($isMobile: false) {
	@if $isMobile {
		@return 1.5;
	}
	@return 1.0;
}

@function fontSize($isMobile: false) {
	@return scale($isMobile) * variables.$baseFontSize;
}


@function headerHeight($isMobile: false) {
	@if $isMobile {
		@return 45px;
	} @else {
		@return 40px;
	}
}

@function menuHeight($isMobile: false) {
	@if $isMobile {
		@return 0px;
	} @else {
		@return 40px;
	}
}

@function footerHeight($isMobile: false, $footerLines: 1) {
	@if $isMobile {
		$oneLine: 18.67px;
		$offset: 30px;
		
		@return $oneLine * $footerLines + $offset; // take into account a wrapping status line or some extra space!( 45px; )
	} @else {
		@return 50px;
	}
}

@function buttonBarHeight($hasButtons: false) {
	@if $hasButtons {
		@return 41.33px;
	} @else {
		@return 0px;
	}
}


@function panelHeaderHeight($isMobile: false) {
	@if $isMobile {
		@return 0px;
	} @else {
		@return 35px;
	}
}

@function heightCorrecture($isMobile: false) {
	@if $isMobile {
		@return 25px;
	} @else {
		@return 0px;
	}
}


@function tabHeight($isMobile: false) {
	@if $isMobile {
		@return 32px * scale($isMobile);
	} @else {
		@return 32px;
	}
}


@function unusedVerticalSpace($isMobile: false, $hasButtons: false, $footerLines: 1) {
	@return calc(2 * variables.$baseMargin + headerHeight($isMobile) + footerHeight($isMobile, $footerLines) + menuHeight($isMobile) + panelHeaderHeight($isMobile) + buttonBarHeight($hasButtons) + heightCorrecture($isMobile));
}

@function horizontalMargin($isMobile: false) {
	@if $isMobile {
		@return 2 * variables.$baseMargin;		// otherwise hor scrollbar and missing frame
	} @else {
		@return 2 * variables.$baseMargin;
	}
}

@function height($isMobile: false, $hasButtons: false, $footerLines: 1) {
	@return calc(100vh - unusedVerticalSpace($isMobile, $hasButtons, $footerLines));
}

@function width($isMobile, $portrait: true) {
	@return calc(100vw - horizontalMargin($isMobile));
}
