@use 'sass:math';
@use 'sass:list';
@use 'sass:selector';
@use "variables";
@use "functions";

/* Mixins */
/* Fit Content mixin */
@mixin fit-content($horizontalMargin: 0, $unusedVerticalSpace: 0) {
	$maxWidth: calc(100vw - $horizontalMargin);
	$maxHeight: calc(100vh - $unusedVerticalSpace);
	
	@debug "Applying fit-content to selector(s) #{&}";
	height: calc-size(fit-content, min(size, $maxHeight)) !important;
	width: calc-size(fit-content, min(size, $maxWidth)) !important;
}

/* Fit Container mixin
 * !! Used in mobile only !!
 */
@mixin fit-container($horizontalMargin: 0, $unusedVerticalSpace: 0) {
	$maxWidth: calc(100vw - $horizontalMargin);
	$maxHeight: calc(100vh - $unusedVerticalSpace);
	
	height: $maxHeight !important;
	width: $maxWidth !important;

	// TODO: last change did work .. do this in HTML?
	// Switches the shadow of the using window off
	@at-root .panel:has(> #{functions.idOf(&)}) + .window-shadow {
		display: none !important;
	}
}

/* Sometimes simplifies usage */
@mixin fit($isMobile: false, $horizontalMargin: 0, $unusedVerticalSpace: 0) {
	@if $isMobile {
		@include fit-container($horizontalMargin, $unusedVerticalSpace);
	} @else {
		@include fit-content($horizontalMargin, $unusedVerticalSpace);
	}
}

/**
 * New implementation to fit a Dialog to its container. This is desired mainly
 * for usage in the mobile mode. It takes into account different heights the
 * footer can have depending on line breaks.
 */
@mixin fit-size($isMobile: false, $hasButtons: false) {
	$mediaQueries: (
		1: "width >= 843px",						// pixel unit and syntax of expression are essential
		2: "843px > width >= 435px",
		3: "435px > width >= 299px"
	);
	
	/*
	//&::before { content: "landscape : #{&} 1"; }
	@media (orientation: portrait) {
		width: functions.width($isMobile, true) !important;
	}
	@media (orientation: landscape) {
		width: functions.width($isMobile, false) !important;
	}
	*/
	width: functions.width($isMobile, false) !important;
	
	@each $lines, $query in $mediaQueries {
		$height: functions.height($isMobile, $hasButtons, $lines) !important;
		@debug "Media query #{$query} -> #{$height}";
		@media (#{$query}) {
			height: $height;
		}
	}
	
	// Switches the shadow of the using window off
	@at-root .panel:has(> #{functions.idOf(&)}) + .window-shadow {
		display: none !important;
	}
}

/* Align Header mixin */
@mixin align-header() {
	display: grid;
	grid-template-rows: repeat(2, 1fr);

	.panel-header {
		width: auto !important;
		display: flex;
		justify-content: flex-start;
		&:not(:has(.panel-tool-expand)) {
			padding: 0 0 0 10px;
		}
		&:has(.panel-tool-expand) {
			padding: 0 50px 0 10px;
		}
	}
}

/* More Dialogs mixin */
@mixin moreDialogsMixin ($isMobile: false) {
	$scale: functions.scale($isMobile);
	$fontSize: functions.fontSize($isMobile);
	$basePadding: variables.$basePadding;
	
	$horizontalMargin: functions.horizontalMargin($isMobile);
	$unusedVerticalSpace: functions.unusedVerticalSpace($isMobile, false, 3);
	
	$id: functions.idOf(&);
	& {
		@debug "More dialog with id #{$id} configured for mobile #{$isMobile}";
		padding: $basePadding;
		@include fit-content($horizontalMargin, $unusedVerticalSpace);

		font-size: $fontSize !important;
		overflow-y: auto !important;
	
		@if ($isMobile and ($id == '#wf_COMMUTATIVE_DIAGRAM_MORE')) {
			@media (orientation: landscape) {
				// Working, but not nice ... RESERVED
				// @debug "More dialog with id #{$id} for horizontal display";
				// table tr { display: table-cell !important; }
			}
		}
		
		// RESERVED
		// overflow-wrap: break-word;
	}
	
	// The problem is getting the right selector here.
	// Attention: selector is treated as list of lists
	@at-root .panel:has(> #{functions.passThrough($id)}) {
		@include align-header();
	} 
}

/* Unicode Mixin */
@mixin unicodeMixin ($isMobile: false) {
	$scale: functions.scale($isMobile);
	$fontSize: functions.fontSize($isMobile);
	$widthCombo: 80%;

	$horizontalMargin: functions.horizontalMargin($isMobile);
	$unusedVerticalSpace: functions.unusedVerticalSpace($isMobile);
	
	@if $isMobile {
		@include fit-size($isMobile, false);
	} @else {
		@include fit-content($horizontalMargin, $unusedVerticalSpace);
	}
	
	font-size: $fontSize;
	padding: variables.$basePadding;

	& #cUNICODES_GROUP {
		width: $widthCombo;
		margin-top: 10px; 
		margin-bottom: 10px; 
		margin-left: 4px;
		form .combo, form input {
			font-size: $fontSize;
			width: 100% !important;
		}
	}
	%block {
		width: fit-content; 
		height: fit-content;
		overflow: auto;
		display: inline-block;
		vertical-align: top;
	}
	
	& #cUNICODES_LIST {
		@extend %block;
		margin-right: 10px;
	}
	& #cUNICODES_VALUES {
		@extend %block;
		margin-right: 5px;
		td, th {
			padding: 3px;
		}
	}
	
	@at-root .panel:has(> #wUNICODES_LIST) {
		@include align-header();
	}
}

/* Editor Parameters Mixin */
@mixin editorParametersMixin ($isMobile: false) {
	$scale: functions.scale($isMobile);
	$horizontalMargin: functions.horizontalMargin($isMobile);
	$unusedVerticalSpace: functions.unusedVerticalSpace($isMobile, true);

	@if $isMobile {
		@include fit-size($isMobile, true);
	} @else {
		@include fit-content($horizontalMargin, $unusedVerticalSpace);
	}
	font-size: 1rem * $scale;
	padding: variables.$basePadding;
	
	#formEDITOR_PARAMETERS {
		padding: variables.$basePadding;
		
		fieldset, input, a {
			margin-top: 10px !important;
			margin-left: 15px !important;
		}
		legend {
			margin-top: 10px !important;
			margin-left: 0px !important;
		}
		#autoUpdateTime {
			margin-left: 4px; 
			font-size: 90% 
		}
		a {
			background-color: lightgray;
		}
		
		// TEST
		fieldset > div {
			display: grid;
			grid-template-columns: (50px * $scale) auto;
			gap: 75% 15px;
			align-items: center;
		}
	}

	@at-root .panel:has(> #wEDITOR_PARAMETERS) {
		@include align-header();
	}
}

/* Style Choice dialog */
@mixin styleChoiceMixin ($isMobile: false) {
	$scale: functions.scale($isMobile);
	$horizontalMargin: functions.horizontalMargin($isMobile);
	$unusedVerticalSpace: functions.unusedVerticalSpace($isMobile, true);
		
	@if $isMobile {
		@include fit-size($isMobile, true);
	} @else {
		@include fit-content($horizontalMargin, $unusedVerticalSpace);
	}
	font-size: 1rem * $scale;
	padding: variables.$basePadding;

	fieldset {
		margin-top: 10px;
		margin-left: 15px;
		padding: variables.$basePadding;
	}

	@at-root .panel:has(> #wSTYLE_CHOISE) {
		@include align-header();
	}
}

/**
 * It seems the calculation of width / height with calc and usage of vw / vh units
 * is essential for correct working.
 */
@mixin languageChoiceMixin ($isMobile: false) {
	$scale: functions.scale($isMobile);
	$horizontalMargin: functions.horizontalMargin($isMobile);
	$unusedVerticalSpace: functions.unusedVerticalSpace($isMobile, true);
		
	@if $isMobile {
		@include fit-size($isMobile, true);
	} @else {
		@include fit-content($horizontalMargin, $unusedVerticalSpace);
	}
	font-size: 1rem * $scale;
	padding: variables.$basePadding;
	
	fieldset {
		margin-top: 10px;
		margin-left: 15px;
		padding: variables.$basePadding;
	}
	fieldset > div {
		// TEST
		display: grid;
		grid-template-columns: (16px * $scale) (16px * $scale) auto;
		gap: 100% 10px;
		align-items: center;
		
		label {
			white-space: nowrap;
		}
	}
	
	img {
		width: 16px * $scale;
		height: 11px * $scale;
	}
	
	position: relative;

	@at-root .panel:has(> #wLANGUAGE_CHOISE) {
		@include align-header();
	}
}

/* Language Resources window */
/* Leave font as is, because there is no interactivity */
@mixin languageListMixin($isMobile: false) {
	$scale: functions.scale($isMobile);
	
	@if $isMobile {
		@include fit-size($isMobile, false);
	} @else {
		height: 50vh !important; 
		width: 80vw !important;
	}
		
	/* Extracted from code */
	table {
		border-spacing: 0px !important;
		border-collapse: collapse !important;
		margin: 10px !important;
		width: fit-content !important;
		overflow: auto !important;		
	}
	
	@at-root .panel:has(> #wLANGUAGE_LIST) {
		@include align-header();
	}
}

/* Informations window */
/* TODO: goal: avoid px units, use relative units */
@mixin informationsMixin($isMobile: false) {
	$scale: functions.scale($isMobile);
	$horizontalMargin: functions.horizontalMargin($isMobile);
	$unusedVerticalSpace: functions.unusedVerticalSpace($isMobile);
	
	@if $isMobile {
		// Without this no content
		@include fit-size($isMobile, false);
	} @else {
		height: min(500px * $scale, calc(100vh - $unusedVerticalSpace)) !important; 
		width: min(700px * $scale, calc(100vw - $horizontalMargin)) !important;
	}

	& {
		padding: 5px;
		font-size: 1rem * $scale;

		>div >div {
			padding: {
				top: 10px;
				bottom: 10px;
				left: 10px;
			}
			
			div[id] {
				padding-right: 2px;
			}
		}
		
		#tCOPYRIGHT hr, #tVERSION hr {
			margin: 10px 0px;
		}
		
		#tVERSION em {
			padding: {
				top: 5px;
				bottom: 3px;
			}
			font-weight: bold;
		}

		#tableBUGS {
			width: 100%;
			border-collapse: collapse;
			background-color: #FFFFCC;
			border: 1px solid #FFCC00;
			
			th, td {
				border: 1px solid #FFCC00;
				padding: 2px;
				border-spacing: 2px;
			}
		}
	}	

	@at-root .panel:has(> #wINFORMATIONS) {
		@include align-header();
	}
}

/* Custom Equations Mixin */
@mixin customEquationsMixin($isMobile: false) {
	$fontSize: functions.fontSize($isMobile);

	@if $isMobile {
		@include fit-size($isMobile, true);
	} @else {
		width: 700px;
		height: 500px;
	}
	
	#CUSTOM_EQUATIONS_LAYOUT {
		width: 100% !important;
		height: 100% !important;
	}

	#customDatagrid {
		border-spacing: 0px;
		border-collapse: collapse;
		width: 100%;
	}
	.datagrid-body, .datagrid-header {
		table td div {
			&, input, span {
				font-size: $fontSize;
			}
		} 
	}
	
	#categories li div span {
		font-size: $fontSize;
	}

	@at-root .panel:has(> #wf_CUSTOM_EQUATIONS_MORE) {
		@include align-header();
	}
}

/* Matrix Mixin */
@mixin matrixMixin($isMobile: false) {
	$fontSize: functions.fontSize($isMobile);
	$horizontalMargin: functions.horizontalMargin($isMobile);
	$unusedVerticalSpace: functions.unusedVerticalSpace($isMobile, true);
	
	font-size: $fontSize;
	& {
		@include fit-content($horizontalMargin, $unusedVerticalSpace);
	}
	form {
		width: auto !important;
		height: auto !important;
	}
	
	#tableMATRIX {
		border-spacing: 0px; 
		border-collapse: collapse; 
		td, td input, td select {
			font-size: $fontSize !important;
			text-align: center;
		}
	}

	@at-root .panel:has(> #wMATRIX) {
		@include align-header();
	}
}

/* Wait Msg Mixin */
@mixin waitMsgMixin($isMobile: false) {
	$fontSize: functions.fontSize($isMobile);	
	$borderColor: #95B8E7;

	font-size: $fontSize;
	margin: 0px !important; 
	padding: 50px !important; 
	height: 100%; 
	background-color: #E7F0FF !important; 
	border: 1px dotted $borderColor !important; 
	border-top: 1px solid $borderColor !important; 
	color: #0E2D5F !important;
}

/* List of 'more' dialogs. */
$contentTailored: (
	'wf_COMMUTATIVE_DIAGRAM_MORE',
	'wf_CHEMICAL_FORMULAE_MORE',
	'wf_BRACKET_SYMBOLS_MORE',
	'wf_RELATION_SYMBOLS_MORE',
	'wf_ARROW_SYMBOLS_MORE',
	'wf_FR_CHAR_MORE',
	'wf_BBB_CHAR_MORE',
	'wf_L_U_GREEK_CHAR_MORE',
	'wf_ALL_CHAR_MORE',
	'wf_EQUATION_MORE',
	'wf_HORIZONTAL_SPACING_MORE',
	'wf_VERTICAL_SPACING_MORE',
	'wf_SPECIAL_CHARACTER_MORE'
);

@mixin dialogs($isMobile: false) {
	/**
	 * The MORE dialogs with an unique shape
	 */
	@each $id in $contentTailored {
		##{$id} {
			@include moreDialogsMixin($isMobile);
		}
	}
	
	#wUNICODES_LIST {
		@include unicodeMixin($isMobile);
	}
	// Belongs to Unicode but placed outside in html, working!!
	.combobox-item {
		font-size: functions.fontSize($isMobile);
	}
	
	#wEDITOR_PARAMETERS {
		@include editorParametersMixin($isMobile);
	}
	#wSTYLE_CHOISE {
		@include styleChoiceMixin($isMobile);
	}
	#wLANGUAGE_CHOISE {
		@include languageChoiceMixin($isMobile);
	}
	#wLANGUAGE_LIST {
		@include languageListMixin($isMobile);
	}
	#wINFORMATIONS {
		@include informationsMixin($isMobile);
	}
	#wf_CUSTOM_EQUATIONS_MORE {
		@include customEquationsMixin($isMobile);
	}
	#wMATRIX {
		@include matrixMixin($isMobile);
	}
}
