@use 'sass:math';
@use 'sass:list';
@use 'sass:selector';
@use "variables";
@use "functions";

/* Mixins */
/* Fit Minmax mixin */
@mixin fit-minmax($maxWidth: 100vw, $maxHeight: 100vh, $hasButtons: false) {
	$headerHeight: 52.33px;					// TODO: use function
	$buttonBarHeight: functions.buttonBarHeight($hasButtons);
	
	@debug "Applying fit-minmax to selector(s) #{&}";
	max-height: $maxHeight;
	max-width: $maxWidth;
	min-height: calc($maxHeight / 4);
	min-width: calc($maxWidth / 4);
	
	& .panel-body {
		width: $maxWidth;
		height: calc($maxHeight - $headerHeight - $buttonBarHeight);
	} 
}

/**
 * Fit Content mixin.
 * Additionally to the 'fit-content' setting it limits the maximum dimension. This
 * depends on correct measures.
 */
@mixin fit-content($horizontalMargin: 0, $unusedVerticalSpace: 0) {
	$maxWidth: calc(100vw - $horizontalMargin);
	$maxHeight: calc(100vh - $unusedVerticalSpace);
	
	@debug "Applying fit-content to selector(s) #{&}";
	height: calc-size(fit-content, min(size, $maxHeight)) !important;
	width: calc-size(fit-content, min(size, $maxWidth)) !important;
}

/**
 * New implementation to fit a Dialog to its container. This is desired mainly
 * for usage in the mobile mode. It takes into account different heights the
 * footer can have depending on line breaks. The entry selector is the surrounding
 * panel.
 */
@mixin fit-size($isMobile: false, $hasButtons: false) {
	$mediaQueries: (
		1: "width >= 843px",						// pixel unit and syntax of expression are essential
		2: "843px > width >= 435px",
		3: "435px > width >= 299px"
	);

	& {
		width: 100% !important;						// essential for upper right rounded corner
	}	
	& > .panel-body {
		width: functions.width($isMobile, false) !important;

		@each $lines, $query in $mediaQueries {
			$height: functions.height($isMobile, $hasButtons, $lines) !important;
			@debug "Media query #{$query} -> #{$height}";
			@media (#{$query}) {
				height: $height;
			}
		}
	}
	
	/** 
	 * Switches the shadow of the using window off
	 * This was necessary for orientation changes Portrait -> Landscape. Do not remove!
	 */
	& + .window-shadow {
		display: none !important;
	}
}

/* Align Header mixin */
@mixin align-header($isMobile: false) {
	$scale: functions.scale($isMobile);

	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: repeat( 5, 1fr );

	.panel-header {
		width: auto !important;
		height: auto !important;
		
		&:not(:has(.panel-tool-expand)) {
			padding: 4px 2px 5px 15px;
		}
		&:has(.panel-tool-expand) {
			padding: 4px 50px 5px 15px;
		}
		
		.panel-icon {
			/** 
			 * TODO: Check what is best suited for vertical align
			 * - top is set to 50%
			 * - for margin-top use negative shift of the half height, 16px or 24px
			 */
			transform: scale($scale);
			margin-top: math.div(-16px, 2) * $scale !important;
			margin-left: math.div(16px, 3) * $scale !important;
		}
	}
}

/* More Dialogs mixin */
@mixin moreDialogsMixin ($isMobile: false) {
	$scale: functions.scale($isMobile);
	$fontSize: functions.fontSize($isMobile);
	$basePadding: variables.$basePadding;
	
	$horizontalMargin: functions.horizontalMargin($isMobile);
	$unusedVerticalSpace: functions.unusedVerticalSpace($isMobile, false, 2); //TODO: fine tune, was 3

	$id: functions.idOf(&);	
	& {
		width: fit-content !important;
		height: fit-content !important;
	}
	& > .panel-body {
		@debug "More dialog with id #{$id} configured for mobile #{$isMobile}";
		padding: $basePadding;
		@include fit-content($horizontalMargin, $unusedVerticalSpace);

		font-size: $fontSize !important;
		overflow-y: auto !important;
	}
	
	// The problem is getting the right selector here.
	// Attention: selector is treated as list of lists
	& {
		@include align-header();
	} 
}

/* Unicode Mixin */
@mixin unicodeMixin ($isMobile: false) {
	$scale: functions.scale($isMobile);
	$fontSize: functions.fontSize($isMobile);
	$widthCombo: 80%;

	$horizontalMargin: functions.horizontalMargin($isMobile);
	$unusedVerticalSpace: functions.unusedVerticalSpace($isMobile);
	
	@if $isMobile {
		@include fit-size($isMobile, false);
	} @else {
		@include fit-minmax(60vw, 80vh);
	}
	
	& > .panel-body {
		font-size: $fontSize;
		padding: variables.$basePadding;
	}

	& #cUNICODES_GROUP {
		width: $widthCombo;
		margin-top: 10px; 
		margin-bottom: 10px; 
		margin-left: 4px;
		form .combo, form input {
			font-size: $fontSize;
			width: 100% !important;
		}
	}
	%block {
		width: fit-content; 
		height: fit-content;
		overflow: auto;
		display: inline-block;
		vertical-align: top;
	}
	
	& #cUNICODES_LIST {
		@extend %block;
		margin-right: 10px;
	}
	& #cUNICODES_VALUES {
		@extend %block;
		margin-right: 5px;
		td, th {
			padding: 3px;
		}
	}

	& {
		@include align-header($isMobile);
	}
}

/* Editor Parameters Mixin */
@mixin editorParametersMixin ($isMobile: false) {
	$scale: functions.scale($isMobile);
	$horizontalMargin: functions.horizontalMargin($isMobile);
	$unusedVerticalSpace: functions.unusedVerticalSpace($isMobile, true);

	@if $isMobile {
		@include fit-size($isMobile, true);
	} @else {
		&, & > .panel-body {
			@include fit-content($horizontalMargin, $unusedVerticalSpace);
		}
	}
	
	& > .panel-body {
		font-size: 1rem * $scale;
		padding: variables.$basePadding;
	}
	
	#formEDITOR_PARAMETERS {
		padding: variables.$basePadding;
		
		fieldset, input, a {
			margin-top: 10px !important;
			margin-left: 15px !important;
		}
		legend {
			margin-top: 10px !important;
			margin-left: 0px !important;
		}
		#autoUpdateTime {
			margin-left: 4px; 
			font-size: 90% 
		}
		a {
			background-color: lightgray;
		}

		@if not $isMobile {
			label {
				white-space: nowrap;
			}
		}
		
		// TEST
		fieldset > div {
			display: grid;
			grid-template-columns: (50px * $scale) auto;
			gap: 75% 15px;
			align-items: center;
		}
		
		hr {
			margin-top: 10px;
		}
	}

	& {
		@include align-header($isMobile);
	}
}

/* Style Choice dialog */
@mixin styleChoiceMixin ($isMobile: false) {
	$scale: functions.scale($isMobile);
	$horizontalMargin: functions.horizontalMargin($isMobile);
	$unusedVerticalSpace: functions.unusedVerticalSpace($isMobile, true);
		
	@if $isMobile {
		@include fit-size($isMobile, true);
	} @else {
		&, & > .panel-body {
			@include fit-content($horizontalMargin, $unusedVerticalSpace);
		}
	}
	
	& > .panel-body {
		font-size: 1rem * $scale;
		padding: variables.$basePadding;
	}

	fieldset {
		margin: 10px;
		padding: variables.$basePadding;
	}

	label {
		white-space: nowrap;
	}

	& {
		@include align-header($isMobile);
	}
}

/**
 * It seems the calculation of width / height with calc and usage of vw / vh units
 * is essential for correct working.
 */
@mixin languageChoiceMixin ($isMobile: false) {
	$scale: functions.scale($isMobile);
	$horizontalMargin: functions.horizontalMargin($isMobile);
	$unusedVerticalSpace: functions.unusedVerticalSpace($isMobile, true);
		
	@if $isMobile {
		@include fit-size($isMobile, true);
	} @else {
		&, & > .panel-body {
			@include fit-content($horizontalMargin, $unusedVerticalSpace);
		}
	}
	
	& > .panel-body {
		font-size: 1rem * $scale;
		padding: variables.$basePadding;
	}
	
	fieldset {
		margin: 10px;
		padding: variables.$basePadding;
	}
	fieldset > div {
		// TEST
		display: grid;
		grid-template-columns: (16px * $scale) (16px * $scale) auto;
		gap: 100% 10px;
		align-items: center;
	}

	label {
		white-space: nowrap;
	}
	
	img {
		width: 16px * $scale;
		height: 11px * $scale;
	}
	
	position: relative;

	& {
		@include align-header($isMobile);
	}
}

/* Language Resources window */
/* Leave font as is, because there is no interactivity */
@mixin languageListMixin($isMobile: false) {
	$scale: functions.scale($isMobile);
	
	@if $isMobile {
		@include fit-size($isMobile, false);
	} @else {
		@include fit-minmax(80vw, 50vh);
	}
		
	/* Extracted from code */
	table {
		border-spacing: 0px !important;
		border-collapse: collapse !important;
		margin: 10px !important;
		width: fit-content !important;
		overflow: auto !important;
		
		th, td {
			padding: 2px;
		}
	}

	& {
		@include align-header($isMobile);
	}
}

/* Informations window */
/* TODO: goal: avoid px units, use relative units */
// Invocation with .informations selector
@mixin informationsMixin($isMobile: false) {
	$scale: functions.scale($isMobile);
	$horizontalMargin: functions.horizontalMargin($isMobile);
	$unusedVerticalSpace: functions.unusedVerticalSpace($isMobile);
	
	@if $isMobile {
		@include fit-size($isMobile, false);				// Without this no content
	} @else {
		@include fit-minmax(60vw, 60vh);
	}

	& > .panel-body {
		font-size: 1rem;
		
		div[href] {
			padding: 5px;
		}
		
		#tCOPYRIGHT hr, #tVERSION hr {
			margin: 10px 0px;
		}
		
		#tVERSION em {
			padding: {
				top: 5px;
				bottom: 3px;
			}
			font-weight: bold;
		}

		#tableBUGS {
			margin-top: 10px;
			width: 100%;
			border-collapse: collapse;
			border: 1px solid #FFCC00;
			
			th, td {
				border: 1px solid #FFCC00;
				padding: 2px;
				border-spacing: 2px;
			}
		}
	}	

	& {
		@include align-header($isMobile);
	}
}


/* Custom Equations Mixin */
@mixin customEquationsMixin($isMobile: false) {
	$fontSize: functions.fontSize($isMobile);

	@if $isMobile {
		@include fit-size($isMobile, true);
	} @else {
		@include fit-minmax(60vw, 70vh, true);
	}

	& > .panel-body {
		#CUSTOM_EQUATIONS_LAYOUT {
			width: 100% !important;
			height: 100% !important;
		}

		#customDatagrid {
			border-collapse: collapse;
			width: 99.5%;
		}
		.datagrid-body, .datagrid-header {
			table td div {
				&, input, span {
					font-size: $fontSize;
				}
			}			
			/**
			 * This solution not ideal, NOT RESPONSIVE
			 *
			$title-width: 40%;
			$check-width: 27.67px;
			$rowheader-width: 0px;  // 29.67px, but not included

			> div {
				width: 100% !important;
			}
			& table {
				width: 100% !important;		// shrinks to fitting view (.datagrid-body)
			}
			td:nth-child(1) {
				width: 0px !important;
			}
			td:nth-child(2) {
				width: $check-width !important;
			}
			td:nth-child(3) {
				width: $title-width !important;
			}
			td:nth-child(4) {
				width: calc(100% - $title-width - $rowheader-width - $check-width) !important;
			}
			*/			
		}
	}
	
	#categories li div span {
		font-size: $fontSize;
	}

	& { // TODO: improve
		@include align-header();
	}
}

/* Matrix Mixin */
@mixin matrixMixin($isMobile: false) {
	$fontSize: functions.fontSize($isMobile);
	$horizontalMargin: functions.horizontalMargin(false);	// take always margin
	$unusedVerticalSpace: functions.unusedVerticalSpace($isMobile, true);
	
	font-size: $fontSize;
	& {
		@include fit-content(0px, 0px);
	}
	& > .panel-body{
		@include fit-content($horizontalMargin, $unusedVerticalSpace);
	}
	form {
		width: auto !important;
		height: auto !important;
	}
	
	#tableMATRIX {
		border-spacing: 0px; 
		border-collapse: collapse; 
		td, td input, td select {
			font-size: $fontSize !important;
			text-align: center;
		}
	}
	
	& {
		@include align-header($isMobile);
	}
}

/* Event Mixin */
@mixin eventMixin($isMobile: false) {
	$padding: variables.$basePadding;
	
	@if $isMobile {
		@include fit-size($isMobile, false);
	} @else {
		@include fit-minmax(80vw, 50vh);
	}
	
	&, & td, & th {
		padding: $padding;
	}

	& {
		@include align-header($isMobile);
	}
}

/* Wait Msg Mixin */
@mixin waitMsgMixin($isMobile: false) {
	$fontSize: functions.fontSize($isMobile);	
	$borderColor: #95B8E7;

	font-size: $fontSize;
	margin: 0px !important; 
	padding: 50px !important; 
	height: 100%; 
	background-color: #E7F0FF !important; 
	border: 1px dotted $borderColor !important; 
	border-top: 1px solid $borderColor !important; 
	color: #0E2D5F !important;
	
	// The Progress window
	@at-root .progress {
		font-size: $fontSize;
	}
}

/* List of 'more' dialogs. */
$contentTailored: (
	'commutative-diagram',
	'chemical-formulae',
	'bracket-symbols',
	'relation-symbols',
	'arrow-symbols',
	'fr-char',
	'bbb-char',
	'greek-char',
	'all-char',
	'equation',
	'horizontal-spacing',
	'vertical-spacing',
	'special-chars'
);

@mixin dialogs($isMobile: false) {
	/**
	 * The MORE dialogs with an unique shape
	 */
	@each $id in $contentTailored {
		.#{$id} {
			@include moreDialogsMixin($isMobile);
		}
	}
	
	.unicodes-list {
		@include unicodeMixin($isMobile);
	}
	// Belongs to Unicode but placed outside in html, working!!
	.combobox-item {
		font-size: functions.fontSize($isMobile);
	}
	
	.parameters {
		@include editorParametersMixin($isMobile);
	}
	.style-choice {
		@include styleChoiceMixin($isMobile);
	}
	.language-choice {
		@include languageChoiceMixin($isMobile);
	}
	.language-list {
		@include languageListMixin($isMobile);
	}
	.informations {									// was #wINFORMATIONS
		@include informationsMixin($isMobile);
	}
	.custom-equations-dialog {
		@include customEquationsMixin($isMobile);
	}
	.mat {
		@include matrixMixin($isMobile);
	}
	.events-list {
		@include eventMixin($isMobile);
	}
}


