@use 'sass:math';

/* Global Variables */
/* Base measures */
$base: 0.8;
$baseFontSize: $base * 1rem;
$baseMargin: math.div($base * 16px, 2);
$basePadding: math.div($base * 16px, 2);

$isViewportWidthDefined: false;
@supports (width: 100vw) {
	$isViewportWidthDefined: true !global;
}
$isViewportHeightDefined: false;
@supports (height: 100vh) {
	$isViewportHeightDefined: true !global;
}

/* Used in desktop version only */
$widthWestAccordion: 230px;
$widthEastAccordion: 250px;
