
 
body {
	height: 100%;
}

table, th, td {
  border: 1px solid;
}

.easyui-layout {
	height: 100vh;
}

/*
.easyui-dialog div {
	margin: 20px !important;
}
*/

h3 {
	text-align: center;
}

#WaitMsg {
	margin: 10px; 
	padding: 10px; 
	height: 3000px; 
	background-color: #E7F0FF; 
	border: 1px dotted #95B8E7; 
	border-top: 1px solid #95B8E7; 
	color: #0E2D5F;
}

#northRegion {
	height: 110px;
}

#menu {
	padding: 5px;
}

.easyui-menubutton {
	overflow: hidden;
}

.menus {
	width: 200px;
	overflow: hidden !important;
}

#westRegion {
	width: 210px;
}

/* center
 */
#divEquationInputOutput {
	overflow: hidden !important;

	.keyboardInputInitiator {
		display: none;
	}

	.keyboardInput {
		height: 0px;
		width: 0px;
		border: none;
		background-color: transparent;
		color: transparent;
		display: none;
	}
	
}

#HTML_TAG {
	display: none; 
	overflow: hidden; 
	height: 40px; 	
}

#divMathTextInput {
	margin: 0; 
	padding: 0; 
	overflow: hidden;
}

#formMathTextInput {
	margin: 0; 
	padding: 0; 
}

#mathTextInput {
	margin: 0; 
	padding: 2px; 
	border: none;
	overflow: auto;
}

#mathVisualOutput {
	margin: 0; 
	padding: 5px; 
	font-size: 150%; 
	overflow: auto !important;
}

#eastRegion {
	width: 210px;
}

#southRegion {
	height: 50px;
}

#divInformation {
	padding-top: 2px; 
	text-align: center; 
	height: 18px; 
	overflow: auto;
}

#wLANGUAGE_CHOISE {
	width: 300px; 
	height: 180px;
}

#formEDITOR_PARAMETERS {
	input {
		margin-top: 10px !important;
		margin-left: 15px !important;
	}
	legend {
		margin-top: 10px !important;
		margin-left: 10px !important;
	}
}

#customDatagrid {
	border-spacing: 0px;
	border-collapse: collapse;
	width: 100%;
}

/*
#btCUSTOM_EQUATIONS_SAVE {
	position: absolute; 
	right: 10px; 
	bottom: 10px;
}

#btCUSTOM_EQUATIONS_DELETE {
	position: absolute; 
	right: 90px; 
	bottom: 10px;
}
 */

.panel-body table tbody tr td a.easyui-tooltip {
	float: left;
}

/* TOOLTIP styling from NET
a.easyui-tooltip:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
a.easyui-tooltip:after {
    content: attr(title);
    background-color: #00FF00;
    color: #111;
    font-size: 150%;
    position: absolute;
    padding: 1px 5px 2px 5px;
    bottom: -1.6em;
    left: 100%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
}
a.easyui-tooltip {
    position: relative;
}
 */

.katex {
	pointer-events: none;
}
