@import 'katex/dist/katex.css';
@import './jquery-easyui/themes/icon.css';
@import './jquery-easyui/themes/default/easyui.css';
@import './jquery-easyui-MathEditorExtend/themes/icon.css';
@import './jquery-easyui-MathEditorExtend/themes/aguas/easyui.css';
@import './keyboard/keyboard.css';
@import './codemirror/lib/codemirror.css';
@import './codemirror/theme/darcula.css';
@import './codemirror/theme/twilight.css';
@import './codemirror/theme/zenburn.css';

body {
	height: 100%;
}

/* where applied => all tables 
 * TODO: check and improve 
 */
table, th, td {
  border: 1px solid;
}

/* in-line = informations table */
.inline-table {
	td {
		padding: 5px;
	}
}

/* all layouts occupy the whole parent height */
.easyui-layout {
	height: 100vh;
}

h3 {
	text-align: center;
}

#WaitMsg {
	margin: 0px !important; 
	padding: 50px !important; 
	height: 3000px; 
	background-color: #E7F0FF !important; 
	border: 1px dotted #95B8E7 !important; 
	border-top: 1px solid #95B8E7 !important; 
	color: #0E2D5F !important;
}

#formula {
	display: none;
}

#northRegion {
	height: 110px;
}

#menu {
	padding: 5px;
}

#mLaTeX_TEXT span {
	padding-top: 5px; 
	font-size: 120%;
}

.easyui-menubutton {
	overflow: hidden;
}

.menus {
	width: 200px;
	overflow: hidden !important;
}

#westRegion {
	width: 210px;
	
	.easyui-accordion > div {
		overflow: auto !important;
	}
}

#divEquationInputOutput {
	overflow: hidden !important;

	.keyboardInputInitiator {
		display: none;
	}

	.keyboardInput {
		height: 0px;
		width: 0px;
		border: none;
		background-color: transparent;
		color: transparent;
		display: none;
	}
	
}

#HTML_TAG {
	display: none; 
	overflow: hidden; 
	height: 40px; 	
}

#divMathTextInput {
	margin: 0; 
	padding: 0; 
	overflow: hidden;

	#formMathTextInput {
		margin: 0; 
		padding: 0;
		height: 100%; 

		#mathTextInput {
			margin: 0; 
			padding: 2px; 
			border: none;
			overflow: auto;
			height: 100%; 
		}
	}
}

#mathVisualOutput {
	margin: 0; 
	padding: 5px; 
	font-size: 150%; 
	overflow: auto !important;
}

#eastRegion {
	width: 210px;
	
	.easyui-accordion > div {
		overflow: auto !important;
	}
}

#southRegion {
	height: 50px;
	
	:last-child {						/* the copyright line */
		padding-top: 2px; 
		text-align: center;
	}
}

#divInformation {						/* info line like latex code feedback */
	padding-top: 2px; 
	text-align: center; 
	height: 20px; 
	overflow: auto;
}

#wEDITOR_PARAMETERS {
	width: 420px; 
	height: 470px; 

	#formEDITOR_PARAMETERS {
		fieldset, input, a {
			margin-top: 10px !important;
			margin-left: 15px !important;
		}
		legend {
			margin-top: 10px !important;
			margin-left: 0px !important;
		}
		#autoUpdateTime {
			margin-left: 4px; 
			font-size: 90% 
		}
		a {
			background-color: lightgray;
		}
	}
}

#wSTYLE_CHOISE {
	width: 170px; 
	height: 200px;
	fieldset {
		margin-top: 10px;
		margin-left: 15px;
	}
}

#wLANGUAGE_CHOISE {
	width: 340px; 
	height: 240px;
	fieldset {
		margin-top: 10px;
		margin-left: 15px;
	}
}

#wMATRIX {
	width: 310px; 
	height: 200px;
	
	#tableMATRIX {
		border-spacing: 0px; 
		border-collapse: collapse; 
		td {
			text-align: center;
		}
	}
}

#wf_COMMUTATIVE_DIAGRAM_MORE {
	width: 280px; 
	height: 650px;
}

#wf_CHEMICAL_FORMULAE_MORE {
	width: 300px; 
	height: 200px;
}

#wf_BRACKET_SYMBOLS_MORE {
	width: 250px; 
	height: 440px;
}

#wf_RELATION_SYMBOLS_MORE {
	width: 240px; 
	height: 320px;
}

#wf_ARROW_SYMBOLS_MORE {
	width: 250px; 
	height: 390px;
}

#wf_FR_CHAR_MORE {
	width: 260px; 
	height: 415px;
}

#wf_BBB_CHAR_MORE {
	width: 250px; 
	height: 405px;
}

#wf_L_U_GREEK_CHAR_MORE {
	width: 250px; 
	height: 500px;
}

#wf_ALL_CHAR_MORE {
	width: 600px; 
	height: 420px;
}

#wf_EQUATION_MORE {
	width: 700px; 
	height: 470px;
}

#wf_CUSTOM_EQUATIONS_MORE {
	width: 700px; 
	height: 500px;

	#customDatagrid {
		border-spacing: 0px;
		border-collapse: collapse;
		width: 100%;
	}
	
	#gridCaption {
	  padding: 10px;
	}
}

#wf_HORIZONTAL_SPACING_MORE {
	width: 110px; 
	height: 335px;
}

#wf_VERTICAL_SPACING_MORE {
	width: 110px; 
	height: 150px;
}

#wf_SPECIAL_CHARACTER_MORE {
	width: 70px; 
	height: 310px;
}

#wLATEX_CODES_LIST {
	height: 450px; 
	width: 240px;
}

#wASCIIMATH_CODES_LIST {
	height: 450px; 
	width: 330px;
}

#wUNICODES_LIST {
	height: 560px; 
	width: 630px;
	
	#cUNICODES_GROUP {
		margin-top: 10px; 
		margin-bottom: 10px; 
		margin-left: 4px;
		form input {
			width: 345px;
		}
	}
	#cUNICODES_LIST {
		float: left; 
		width: calc(95% - 170px); 
		height: 480px; 
		overflow: auto;
	}
	#cUNICODES_VALUES {
		float: right; 
		width: 170px; 
		height: 480px; 
		overflow: auto;
		td, th {
			padding: 3px;
		}
	}
}

#wLANGUAGE_LIST {
	height: 450px; 
	width: 650px;
}

#wINFORMATIONS {
	height: 450px; 
	width: 600px;
	
	>div >div {
		padding: 10px;
	}
}

#tableBUGS {
	width: 100%;
	border-collapse: collapse;
	background-color: #FFFFCC;
	border: 1px solid #FFCC00;
	
	th, td {
		border: 1px solid #FFCC00;
		padding: 2px;
		border-spacing: 2px;
	}
}

.panel-body table tbody tr td a.easyui-tooltip {
	float: bottom;
}

.katex {
	pointer-events: none;
}

/* THERE IS NO ACTION ON THIS
*/
.tooltip {
	background-color: 'lightyellow'!;
	border-color: 'red';
	width: 500;
	z-index: 500000!;	
}
