<!DOCTYPE html>
<html>
	<head>
		{{> head }}
	</head>
	<body id="bodyPage" class="katex-mobile">
		
		{{> waitform }}

		<div>
		    <div id="myContainer" class="easyui-navpanel" data-options="fit:true,bodyCls:'mainNavPanelBody'">
		        <header>
		            <div id="introduction" class="m-toolbar">
		                <div class="m-left">
		                    <a id="goWest" class="easyui-linkbutton" data-options="plain:true">&#x2770;</a>
		                </div>
		                <div class="m-title">Katex Input Helper</div>
		                <div class="m-right">
		                	<!-- 
		                     -->
		                    <a href="javascript:void(0)" class="easyui-menubutton invisible" data-options="iconCls:'',menu:'#main-menu',menuAlign:'right',hasDownArrow:false">&#9776;</a>
		                    <a id="goMenu" href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:''">&#9776;</a>
		                    <a id="goEast" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true">&#x2771;</a>
		                </div>
		            </div>
		        </header>
				<div id="divEquationInputOutput" class="easyui-panel" data-options="title:'<span locate=EDITION></span>&nbsp;',fit:true,bodyCls:'mainAreaBody'">
					<input value="" class="keyboardInput" id="tKEYBOARD" />
	
					<div id="innerLayout" data-options="fit:true" class="easyui-layout">
						<div id="divMathTextInput" class="center" data-options="region:'center',split:false,noheader:true"></div>
						<div id="mathVisualOutput" class="inner-south-mobile" dir="ltr" data-options="region:'south',split:true,noheader:true" ></div>
					</div>
				</div>
				{{> footer }}
		    </div>
		</div>

		<div>
			<div id="westRegion" class="easyui-navpanel" >
		        <header>
		            <div class="m-toolbar">
		                <div class="m-title">
		                	<span locate=FORMULA class=rtl-title-withicon></span>&nbsp;
		                </div>
		                <div class="m-left">
		                    <a href="javascript:void(0)" class="easyui-linkbutton back" data-options="plain:true,outline:true,back:true">&#x2770;</a>
		                </div>
		            </div>
		        </header>
		        
		        {{> accordion-west }}		        
				{{> footer }}
			</div>
		</div>

		<div>
			<div id="eastRegion" class="easyui-navpanel">
		        <header>
		            <div class="m-toolbar">
		                <div class="m-title">
		                	<span locate=FORMULA class=rtl-title-withicon></span>&nbsp;
		                </div>
		                <div class="m-right">
		                    <a href="javascript:void(0)" class="easyui-linkbutton back" data-options="plain:true,outline:true,back:true">&#x2770;</a>
		                </div>
		            </div>
		        </header>
				
				{{> accordion-east }}
				{{> footer }}
			</div>
		</div>

		<div>
			<div id="wrapperPanel" class="easyui-navpanel" >
		        <header>
		            <div class="m-toolbar">
		                <div class="m-title">
		                	<span locate=DIALOG_PANEL class=rtl-title-withicon></span>&nbsp;
		                </div>
		                <div class="m-right">
		                    <a href="javascript:void(0)" class="easyui-linkbutton back" data-options="plain:true,outline:true,back:false">&#x2770;</a>
		                </div>
		            </div>
		        </header>
		        <div id="wrapperBody">
		        </div>
				{{> footer }}
			</div>
		</div>

		<div>
			<div id="wrapperPanelMenu" class="easyui-navpanel" >
		        <header>
		            <div class="m-toolbar">
		                <div class="m-title">
		                	<span locate=SIDEMENU_PANEL class=rtl-title-withicon></span>&nbsp;
		                </div>
		                <div class="m-right">
		                    <a href="javascript:void(0)" class="easyui-linkbutton back" data-options="plain:true,outline:true,back:true">&#x2770;</a>
		                </div>
		            </div>
		        </header>
		        <div id="wrapperBodyMenu">
					<div id="sm" class="easyui-sidemenu" data-options="data:[{text:'TEST',state:'open'}]"></div>
		        </div>
				{{> footer }}
			</div>
		</div>

		{{> menu-mobile }}
		
		{{> windows }}
				
	</body>
</html>
